{% extends 'base.html.twig' %}

{% block content %}
<div class="mt-5 text-center">
    <h2>Welcome to Game Record Management</h2>
    <p class="lead mt-3">Use the navigation menu to view, add or search game records.</p>
</div>
{% endblock %}